<!DOCTYPE html>
<html>
<head>
    <style>
        html, body, p
        {
            background: white;
            font-family: "Consolas", "Monaco";
            font-size: 14px;
        }

        #dialog {
            width: 300px;
            border: 1px solid #ccc;
            padding: 16px;
            margin: auto auto;
            margin-top: 128px;
        }

        #dialog h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div id='content'>
    <div id='dialog'>
        <h1>Account blocked</h1>
    </div>
</div>
</body>
</html>

